



*{
  margin:0;
  padding:0;
}


body{
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:25px;
  color:#1C7E7F;
  line-height:2.5;
}

#showcase{
  background-image:url("C:/Users/Jashu/Desktop/Light-Blue-Backgrounds-Wallpaper-Cave.png");
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#showcase h1{
  font-size:50px;
  line-height:1.2;
}

#showcase p{
  font-size:20px;
}

<a href="#" class="myButton">blue</a>

#showcase.myButton {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}


#section-a{
  padding:20px;
  background:#D3D3D3;
  color:#fff;
  text-align:center;
}

#section-b{
  padding:20px;
  background:#f4f4f4;
  text-align:center;
}

#section-c{
  display:flex;
}

#section-c div{
  padding:20px;
}

#section-c .box-1, #section-c .box-3{
  background:#926239;
  color:#fff;
}

#section-c .box-2{
  background:#f9f9f9;
}
